#Left
{
	width: 200px;
	float: left;
}
#Right
{
	width: 200px;
	float: right;
}

table
{    text-align: center;
}
th
{
	font: 微軟正黑體;
}
td
{
	font: 微軟正黑體;
}
span
{
	font: 微軟正黑體;
}
.labelStyle
{
	font: 微軟正黑體;
}
a
{
	color: Blue;
}
a:visited
{
	color: #000066;
}

.table_setting
{
    font-size:16px;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height:auto;
}
.table_setting th
{
	font-family: 微軟正黑體;
	
	color: #0657a9;
	width: 10%;
	text-align: left;
	vertical-align:middle ;
}
.table_setting td
{
    
	text-align: left;
	vertical-align: middle;
	height:auto;
}

.table_setting_gridview
{
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.table_setting_gridview th
{
	font-family: 微軟正黑體;
	border: 1px solid #D9D9D9;
	border-collapse: collapse;
	margin: 0px;
	vertical-align: top;
	padding-top: 8px;
	padding-right: 3px;
	padding-bottom: 8px;
	padding-left: 3px;
	background-color: #597eaa;
	color: #000000;
	text-align: left;
	font-size: medium;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.table_setting_gridview td
{
	border: 1px solid #D9D9D9;
	border-collapse: collapse;
	margin: 0px;
	vertical-align: top;
	padding-top: 8px;
	padding-right: 3px;
	padding-bottom: 8px;
	padding-left: 0px;
	text-align: center;
}

.table_doorStatus
{
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
	width: 30%;
}
.table_doorStatus th
{
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 0px;
	vertical-align: top;
	font-weight: bold;
	text-align: left;
	color: #2B2722;
	background-color: #D7D7FF;
	font-size: xx-small;
}
.table_doorStatus td
{
	font-family: 微軟正黑體;
	font-size: Medium;
	border: 1px solid #000000;
	border-collapse: collapse;
	margin: 0px;
	vertical-align: top;
	text-align: left;
	font-size: xx-small;
}
.table_head
{
	font-size: Medium;
	background-color: #5D7B9D;
	color: #FFFFFF;
	font-family: 微軟正黑體;
}
.table_s
{
	text-align: left;
	vertical-align:middle;
	background-color: #F2F2EE;
	font-family: 微軟正黑體;
	font-size: Medium;
	height:auto;
}
.table_d
{
    border: thin solid #000000;
	text-align: center;
	vertical-align:middle;
	background-color: #FFFFFF;
	font-size: Medium;
	font-family: 微軟正黑體;
	height:auto;
	
}
body
{
	/*font-size: Medium;
	font-family: 微軟正黑體;*/
	
	font-family: Arial, Helvetica, "Microsoft JhengHei", "微軟正黑體", sans-serif;
	font-size: 13px;
	line-height: 16px;
}
.table_title_setting
{
	text-align: left;
	color: #996600;
	font-weight: bold;
}

.AjaxTabStrip .ajax__tab_tab
{
	font-size: 12px;
	padding: 4px;
	width: 105px;
	height: 16px;
	background-image: url(../image/li/1.jpg);
}
.invis
{
	display: none;
	z-index:999;
}

.buttomStyle
{
	background-image: url('../image/tsmc_0619/mid_btn.png');
	color: Black;
	height: 21px;
}
.buttom1Style
{
	background-image: url('../image/tsmc_0619/mid_btn_yes.png');
	color: Black;
	height: 21px;
}
.divStyle
{
	background-image: url(../image/tsmc_0619/banner.jpg);
	background-repeat: no-repeat;
	color: White;
	font-size: 18pt;
	font-family: 微軟正黑體;
	font-weight: 900;
	text-align: left;
	vertical-align: middle;
	height: 53px;
	padding-left: 50px;
}
.gridview_head
{
	color: White;
	text-align: center;
	font-weight: bold;
	border-color: White;
	border: 1px;
	background-color: #597eaa;
}

.gridview_row1
{
	text-align: center;	
	vertical-align:middle;
	border-color: White;
	border: 1px;
	background-color: #dfeae2;
}
.gridview_row2
{
	text-align: center;
	vertical-align:middle;
	border-color: White;
	border: 1px;
	background-color: #deeaf8;
}
.tree_head
{
	color: White;
	font-weight: bold;
	background-image: url(../image/tsmc_0619/menu_left_bg.jpg);
	background-repeat: no-repeat;
}
.tree_body
{
	color: White;
	background-image: url(../image/tsmc_0619/menu_bg.jpg);
	background-position: right;
	background-repeat: repeat-y;
}
.table_tr_th
{
    border: thin solid #000000; 
    font-family: 微軟正黑體; 
    vertical-align:middle; 
    text-align:center;    
}


